{% extends 'layouts/index.html.twig' %}

{% block title %}Réinitialisation mot de passe{% endblock %}

{% block body %}
<div class="login-box">
  <div class="card card-outline card-primary">
    <div class="card-body">
        <p class="login-box-msg">Veuillez renseigner votre email</p>
        {{ form_start(form, {'method': 'POST'}) }}
            <div class="card-body row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Votre email</label>
                        <div class="input-group mb-3">
                            {{ form_widget(form.email)}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary">Réinitialiser</button>
            </div>
        {{ form_end(form) }}
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->
{% endblock %}
