<option data-countryCode="US" value="US">USA</option>
<option data-countryCode="DZ" value="DZ">Algeria </option>
<option data-countryCode="AD" value="AD">Andorra </option>
<option data-countryCode="AO" value="AO">Angola </option>
<option data-countryCode="AI" value="AI">Anguilla </option>
<option data-countryCode="AG" value="AG">Antigua &amp; Barbuda</option>
<option data-countryCode="AR" value="AR">Argentina</option>
<option data-countryCode="AM" value="AM">Armenia </option>
<option data-countryCode="AW" value="AW">Aruba </option>
<option data-countryCode="AU" value="AU">Australia</option>
<option data-countryCode="AT" value="AT">Austria</option>
<option data-countryCode="AZ" value="AZ">Azerbaijan </option>
<option data-countryCode="BS" value="BS">Bahamas</option>
<option data-countryCode="BH" value="BH">Bahrain </option>
<option data-countryCode="BD" value="BD">Bangladesh </option>
<option data-countryCode="BB" value="BB">Barbados</option>
<option data-countryCode="BY" value="BY">Belarus </option>
<option data-countryCode="BE" value="BE">Belgium</option>
<option data-countryCode="BZ" value="BZ">Belize </option>
<option data-countryCode="BJ" value="BJ">Benin </option>
<option data-countryCode="BM" value="BM">Bermuda</option>
<option data-countryCode="BT" value="BT">Bhutan </option>
<option data-countryCode="BO" value="BO">Bolivia </option>
<option data-countryCode="BA" value="BA">Bosnia Herzegovina </option>
<option data-countryCode="BW" value="BW">Botswana </option>
<option data-countryCode="BR" value="BR">Brazil</option>
<option data-countryCode="BN" value="BN">Brunei </option>
<option data-countryCode="BG" value="BG">Bulgaria </option>
<option data-countryCode="BF" value="BF">Burkina Faso </option>
<option data-countryCode="BI" value="BI">Burundi </option>
<option data-countryCode="KH" value="KH">Cambodia </option>
<option data-countryCode="CM" value="CM">Cameroon </option>
<option data-countryCode="CA" value="CA">Canada</option>
<option data-countryCode="CV" value="CV">Cape Verde Islands </option>
<option data-countryCode="KY" value="KY">Cayman Islands</option>
<option data-countryCode="CF" value="CF">Central African Republic </option>
<option data-countryCode="CL" value="CL">Chile</option>
<option data-countryCode="CN" value="CN">China</option>
<option data-countryCode="CO" value="CO">Colombia</option>
<option data-countryCode="KM" value="KM">Comoros </option>
<option data-countryCode="CG" value="CG">Congo </option>
<option data-countryCode="CK" value="CK">Cook Islands </option>
<option data-countryCode="CR" value="CR">Costa Rica </option>
<option data-countryCode="HR" value="HR">Croatia </option>
<option data-countryCode="CU" value="CU">Cuba</option>
<option data-countryCode="CY" value="CY">Cyprus - North</option>
<option data-countryCode="CZ" value="CZ">Czech Republic </option>
<option data-countryCode="DK" value="DK">Denmark</option>
<option data-countryCode="DJ" value="DJ">Djibouti </option>
<option data-countryCode="DM" value="DM">Dominica</option>
<option data-countryCode="DO" value="DO">Dominican Republic</option>
<option data-countryCode="EC" value="EC">Ecuador </option>
<option data-countryCode="EG" value="EG">Egypt</option>
<option data-countryCode="SV" value="SV">El Salvador </option>
<option data-countryCode="GQ" value="GQ">Equatorial Guinea </option>
<option data-countryCode="ER" value="ER">Eritrea </option>
<option data-countryCode="EE" value="EE">Estonia </option>
<option data-countryCode="ET" value="ET">Ethiopia </option>
<option data-countryCode="FK" value="FK">Falkland Islands </option>
<option data-countryCode="FO" value="FO">Faroe Islands </option>
<option data-countryCode="FJ" value="FJ">Fiji </option>
<option data-countryCode="FI" value="FI">Finland </option>
<option data-countryCode="FR" value="FR">France</option>
<option data-countryCode="GF" value="GF">French Guiana </option>
<option data-countryCode="PF" value="PF">French Polynesia </option>
<option data-countryCode="GA" value="GA">Gabon </option>
<option data-countryCode="GM" value="GM">Gambia </option>
<option data-countryCode="GE" value="GE">Georgia</option>
<option data-countryCode="DE" value="DE">Germany</option>
<option data-countryCode="GH" value="GH">Ghana </option>
<option data-countryCode="GI" value="GI">Gibraltar </option>
<option data-countryCode="GR" value="GR">Greece</option>
<option data-countryCode="GL" value="GL">Greenland </option>
<option data-countryCode="GD" value="GD">Grenada</option>
<option data-countryCode="GP" value="GP">Guadeloupe </option>
<option data-countryCode="GU" value="GU">Guam </option>
<option data-countryCode="GT" value="GT">Guatemala </option>
<option data-countryCode="GN" value="GN">Guinea </option>
<option data-countryCode="GW" value="GW">Guinea - Bissau </option>
<option data-countryCode="GY" value="GY">Guyana </option>
<option data-countryCode="HT" value="HT">Haiti </option>
<option data-countryCode="HN" value="HN">Honduras </option>
<option data-countryCode="HK" value="HK">Hong Kong </option>
<option data-countryCode="HU" value="HU">Hungary</option>
<option data-countryCode="IS" value="IS">Iceland </option>
<option data-countryCode="IN" value="IN">India</option>
<option data-countryCode="ID" value="ID">Indonesia</option>
<option data-countryCode="IQ" value="IQ">Iraq </option>
<option data-countryCode="IR" value="IR">Iran</option>
<option data-countryCode="IE" value="IE">Ireland </option>
<option data-countryCode="IL" value="IL">Israel </option>
<option data-countryCode="IT" value="IT">Italy</option>
<option data-countryCode="JM" value="JM">Jamaica</option>
<option data-countryCode="JP" value="JP">Japan</option>
<option data-countryCode="JO" value="JO">Jordan </option>
<option data-countryCode="KZ" value="KZ">Kazakhsta</option>
<option data-countryCode="KE" value="KE">Kenya </option>
<option data-countryCode="KI" value="KI">Kiribati </option>
<option data-countryCode="KP" value="KP">Korea - North </option>
<option data-countryCode="KR" value="KR">Korea - South</option>
<option data-countryCode="KW" value="KW">Kuwait </option>
<option data-countryCode="KG" value="KG">Kyrgyzstan </option>
<option data-countryCode="LA" value="LA">Laos </option>
<option data-countryCode="LV" value="LV">Latvia </option>
<option data-countryCode="LB" value="LB">Lebanon </option>
<option data-countryCode="LS" value="LS">Lesotho </option>
<option data-countryCode="LR" value="LR">Liberia </option>
<option data-countryCode="LY" value="LY">Libya </option>
<option data-countryCode="LI" value="LI">Liechtenstein </option>
<option data-countryCode="LT" value="LT">Lithuania </option>
<option data-countryCode="LU" value="LU">Luxembourg </option>
<option data-countryCode="MO" value="MO">Macao </option>
<option data-countryCode="MK" value="MK">Macedonia </option>
<option data-countryCode="MG" value="MG">Madagascar </option>
<option data-countryCode="MW" value="MW">Malawi </option>
<option data-countryCode="MY" value="MY">Malaysia</option>
<option data-countryCode="MV" value="MV">Maldives </option>
<option data-countryCode="ML" value="ML">Mali </option>
<option data-countryCode="MT" value="MT">MalMTta </option>
<option data-countryCode="MH" value="MH">Marshall Islands </option>
<option data-countryCode="MQ" value="MQ">Martinique </option>
<option data-countryCode="MR" value="MR">Mauritania </option>
<option data-countryCode="YT" value="YT">Mayotte </option>
<option data-countryCode="MX" value="MX">Mexico</option>
<option data-countryCode="FM" value="FM">Micronesia </option>
<option data-countryCode="MD" value="MD">Moldova </option>
<option data-countryCode="MC" value="MC">Monaco </option>
<option data-countryCode="MN" value="MN">Mongolia </option>
<option data-countryCode="MS" value="MS">Montserrat</option>
<option data-countryCode="MA" value="MA">Morocco </option>
<option data-countryCode="MZ" value="MZ">Mozambique </option>
<option data-countryCode="MN" value="MN">Myanmar</option>
<option data-countryCode="NA" value="NA">Namibia </option>
<option data-countryCode="NR" value="NR">Nauru </option>
<option data-countryCode="NP" value="NP">Nepal </option>
<option data-countryCode="NL" value="NL">Netherlands</option>
<option data-countryCode="NC" value="NC">New Caledonia </option>
<option data-countryCode="NZ" value="NZ">New Zealand</option>
<option data-countryCode="NI" value="NI">Nicaragua </option>
<option data-countryCode="NE" value="NE">Niger </option>
<option data-countryCode="NG" value="NG">Nigeria </option>
<option data-countryCode="NU" value="NU">Niue </option>
<option data-countryCode="NF" value="NF">Norfolk Islands </option>
<option data-countryCode="NP" value="NP">Northern Marianas </option>
<option data-countryCode="NO" value="NO">Norway</option>
<option data-countryCode="OM" value="OM">Oman </option>
<option data-countryCode="PK" value="PK">Pakistan</option>
<option data-countryCode="PW" value="PW">Palau </option>
<option data-countryCode="PA" value="PA">Panama </option>
<option data-countryCode="PG" value="PG">Papua New Guinea </option>
<option data-countryCode="PY" value="PY">Paraguay </option>
<option data-countryCode="PE" value="PE">Peru</option>
<option data-countryCode="PH" value="PH">Philippines</option>
<option data-countryCode="PL" value="PL">Poland</option>
<option data-countryCode="PT" value="PT">Portugal </option>
<option data-countryCode="PR" value="PR">Puerto Rico</option>
<option data-countryCode="QA" value="QA">Qatar </option>
<option data-countryCode="RE" value="RE">Reunion </option>
<option data-countryCode="RO" value="RO">Romania</option>
<option data-countryCode="RU" value="RU">Russi</option>
<option data-countryCode="RW" value="RW">Rwanda </option>
<option data-countryCode="SM" value="SM">San Marino </option>
<option data-countryCode="ST" value="ST">Sao Tome &amp; Principe </option>
<option data-countryCode="SA" value="SA">Saudi Arabia </option>
<option data-countryCode="SN" value="SN">Senegal </option>
<option data-countryCode="CS" value="CS">Serbia </option>
<option data-countryCode="SC" value="SC">Seychelles </option>
<option data-countryCode="SL" value="SL">Sierra Leone </option>
<option data-countryCode="SG" value="SG">Singapore</option>
<option data-countryCode="SK" value="SK">Slovak Republic </option>
<option data-countryCode="SI" value="SI">Slovenia </option>
<option data-countryCode="SB" value="SB">Solomon Islands </option>
<option data-countryCode="SO" value="SO">Somalia </option>
<option data-countryCode="ZA" value="ZA">South Africa</option>
<option data-countryCode="ES" value="ES">Spain</option>
<option data-countryCode="LK" value="LK">Sri Lanka</option>
<option data-countryCode="SH" value="SH">St. Helena </option>
<option data-countryCode="KN" value="KN">St. Kitts</option>
<option data-countryCode="SC" value="SC">St. Lucia</option>
<option data-countryCode="SR" value="SR">Suriname </option>
<option data-countryCode="SD" value="SD">Sudan </option>
<option data-countryCode="SZ" value="SZ">Swaziland </option>
<option data-countryCode="SE" value="SE">Sweden</option>
<option data-countryCode="CH" value="CH">Switzerland</option>
<option data-countryCode="SY" value="SY">Syria </option>
<option data-countryCode="TW" value="TW">Taiwan </option>
<option data-countryCode="TJ" value="TJ">Tajikistan </option>
<option data-countryCode="TH" value="TH">Thailand</option>
<option data-countryCode="TG" value="TG">Togo </option>
<option data-countryCode="TO" value="TO">Tonga </option>
<option data-countryCode="TT" value="TT">Trinidad &amp; Tobago</option>
<option data-countryCode="TN" value="TN">Tunisia </option>
<option data-countryCode="TR" value="TR">Turkey</option>
<option data-countryCode="TM" value="TM">Turkmenistan </option>
<option data-countryCode="TC" value="TC">Turks &amp; Caicos Islands</option>
<option data-countryCode="TV" value="TV">Tuvalu </option>
<option data-countryCode="UG" value="UG">Uganda </option>
<option data-countryCode="UA" value="UA">Ukraine </option>
<option data-countryCode="AE" value="AE">United Arab Emirates </option>
<option data-countryCode="UY" value="UY">Uruguay </option>
<option data-countryCode="UZ" value="UZ">Uzbekistan </option>
<option data-countryCode="VU" value="VU">Vanuatu </option>
<option data-countryCode="VA" value="VA">Vatican City </option>
<option data-countryCode="VE" value="VE">Venezuela</option>
<option data-countryCode="VN" value="VN">Vietnam</option>
<option data-countryCode="VG" value="VG">Virgin Islands - Britis</option>
<option data-countryCode="VI" value="VI">Virgin Islands</option>
<option data-countryCode="WF" value="WF">Wallis &amp; Futuna </option>
<option data-countryCode="YE" value="YE">YemenNorth</option>
<option data-countryCode="ZM" value="ZM">Zambia </option>
<option data-countryCode="ZW" value="ZW">Zimbabwe </option>