{% extends 'base.html.twig' %} {% block title %}
  {% if editPays %}
    Modifier un Pays
  {% else %}
   Ajouter un Pays
  {% endif %}
{% endblock %} {% block body %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>
                {% if editPays %}
                    Modifier un Pays
                {% else %}
                Ajouter un Pays
                {% endif %}
            </h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <a href="#">Accueil</a>
              </li>
              <li class="breadcrumb-item active">
                {% if editPays %}
                    Modifier un Pays
                {% else %}
                Ajouter un Pays
                {% endif %}
              </li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title">Entrer toutes les informations du Pays</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              {{ form_start(form, {'method': 'POST'}) }}
                <div class="card-body row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Libellé du Pays</label>
                        <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        {{ form_widget(form.libelle_pays)}}
                      </div>
                      </div>
                      <div class="texte-light text-danger mt-0 ">{{ form_errors(form.libelle_pays) }} </div>
                </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Indicatif Du Pays</label>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-pencil-alt"></i></span>
                        </div>
                          <select class="form-control" name="indicatif" required>
                            <option value="">Choisir</option>
                            {% include 'includes/country_codes2.html.twig' %}
                          </select>
                      </div>

                    </div>
                  </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">
                    {% if editPays %}
                    Modifier le Pays
                    {% else %}
                    Ajouter le Pays
                    {% endif %}
                  </button>
                </div>
                {{ form_end(form) }}
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col (left) -->
          <!-- right column -->
          <!-- /.col (right) -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}